h1 {
    font-size: 10rem;
    font-family: sans-serif;
}

.letter {
    transition: 100ms;
}

body {
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vn;
    background-color: blue;

}